$black: #000;
$fuschia: #c82052;
$grey: #4a4a4a;
$light-grey: #9b9b9b;
$light-purplish: #efdcff;
$maroon: #71172f;
$mustard: #faba00;
$off-white: #d8f4d5;
$orange: #f5a623;
$purplish: #814fab;
$white: #fff;
$yellow: #cfba2e;
