@font-face {
  font-family: 'Gilroy';
  font-weight: 200;
  src: url('../fonts/Gilroy-Light.otf');
}

@font-face {
  font-family: 'Gilroy';
  font-weight: 800;
  src: url('../fonts/Gilroy-ExtraBold.otf');
}

@font-face {
  font-family: 'Merriweather';
  font-weight: 300;
  src: url('../fonts/Merriweather300.ttf');
}

@font-face {
  font-family: 'Merriweather';
  font-weight: 300;
  font-style: italic;
  src: url('../fonts/Merriweather300italic.ttf');
}
