.about {
  padding-bottom: 137.5px;
  padding-top: 175px;
}

.resume {
  background-color: $light-purplish;
  max-width: 100%;
  padding-bottom: 167px;
  padding-top: 155px;

  &-btn {
    border-color: $white;
    color: $white;

    &:first-child {
      margin-bottom: 27.5px;
    }

    &,
    & a {
      color: $white;
      text-decoration: none;
    }
  }
}

.contact {
  background-color: $purplish;
  padding-bottom: 70px;
  padding-top: 140px;

  .large-text {
    color: $white;
    padding-right: 10px;
  }

  .logo {
    margin-top: 205px;
    text-align: center;

    img {
      width: 170px;
    }
  }
}

.contact-button-group {
  display: inline-block;
  padding-left: 10px;

  img {
    margin-bottom: 43.5px;
    margin-right: 34.5px;
    vertical-align: middle;
    width: 60.5px;
  }
}
