html {
  box-sizing: border-box;
  height: 100%;

  font-family: roboto-condensed, sans-serif;
  font-weight: 300;
  font-size: 100%;
  line-height: 1.6;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  height: 100%;
  margin: 0;

  color: #B5B3C5;
  background: #212121;
}

p {
  margin: 1em 0;
}

p:first-of-type {
  margin-top: 0;
}

a, a:visited {
  color: inherit;
}

a:hover, a:active {
  color: #DFDDF6;
}

#container {
  display: grid;
  grid: auto 1fr auto auto / auto;

  max-width: 50rem;
  height: 100%;
  margin: 0 auto;
  padding: 3.375rem 3.125rem 2.8125rem;
}

#about {
  max-width: 18em;
  margin-bottom: 2rem;
}

#ember {
  width: 1.218125rem;
  height: 1.08875rem;
}

nav {
  font-family: kepler-std-semicondensed-dis, serif;
  font-weight: 400;
  font-size: 2.25rem;
  line-height: 1.4;
}

nav ul {
  margin: 0;
  padding: 0;

  list-style-type: none;
}

nav a {
  text-decoration: none;
}

small {
  font-family: presicav, sans-serif;
  font-weight: 400;
  font-size: 0.5rem;
  text-transform: uppercase;

  color: #82818E;
}

#stay {
  margin-top: 2rem;
}

footer {
  align-self: end;

  margin-top: 1rem;
}

@media (min-width: 42rem) {
  #container {
    grid: 1fr auto / 1fr 15rem;
    grid-gap: 0 2rem;
  }

  #about {
    font-size: 1.1875rem;
  }
}
