@font-face {
  font-family: 'Gilroy';
  font-weight: 200;
  src: url("../fonts/Gilroy-Light.otf"); }

@font-face {
  font-family: 'Gilroy';
  font-weight: 800;
  src: url("../fonts/Gilroy-ExtraBold.otf"); }

@font-face {
  font-family: 'Merriweather';
  font-weight: 300;
  src: url("../fonts/Merriweather300.ttf"); }

@font-face {
  font-family: 'Merriweather';
  font-weight: 300;
  font-style: italic;
  src: url("../fonts/Merriweather300italic.ttf"); }

* {
  box-sizing: border-box; }

body {
  font-family: 'Gilroy'; }

h1 {
  font-size: 60.5px;
  margin: 0; }

h2 {
  font-size: 36px;
  font-weight: 800;
  margin: 0; }

h3 {
  font-family: Merriweather;
  font-size: 18px;
  font-style: italic;
  font-weight: 300;
  letter-spacing: 2px; }

p {
  color: #4a4a4a;
  font-size: 17.5px;
  font-weight: 300;
  line-height: 2;
  margin-bottom: 0; }
  p a {
    color: inherit;
    font-weight: 800; }
  p a:focus,
  p a:hover {
    color: inherit;
    text-decoration: underline; }

button,
.button {
  background-color: transparent;
  border: solid 5px #cfba2e;
  color: #cfba2e;
  display: inline-block;
  font-size: 17.5px;
  font-weight: 800;
  letter-spacing: 1px;
  max-width: 295px;
  min-width: 250px;
  padding: 23px 0;
  text-align: center;
  text-transform: uppercase; }
  button:hover,
  .button:hover {
    text-decoration: none; }

.large-text {
  font-size: 60.5px;
  line-height: normal;
  text-align: right; }

@media screen and (min-width: 768px) {
  .navbar-brand-centered {
    border: 0;
    display: block;
    left: 50%;
    position: absolute;
    width: 120px; }
  .navbar > .container .navbar-brand-centered,
  .navbar > .container-fluid .navbar-brand-centered {
    margin-left: -80px; } }

.navbar {
  background-color: #fff;
  background-image: none;
  border: 0;
  box-shadow: none;
  margin-bottom: 0;
  padding-bottom: 60px;
  padding-top: 55px; }
  .navbar a {
    font-size: 12px;
    letter-spacing: 1.5px; }
  .navbar li {
    margin-right: 50px;
    text-transform: uppercase; }
  .navbar img {
    height: 31.7px; }

.navbar-default .navbar-nav > li > a {
  color: #000; }

.grid-item {
  background-color: #814fab;
  float: left;
  height: 0;
  overflow: hidden;
  padding-bottom: 20%;
  text-align: center;
  width: 20%; }
  .grid-item.big {
    padding-bottom: 40%;
    width: 40%; }
  .grid-item img {
    -webkit-transition: opacity .1s ease-in-out, -webkit-filter .1s ease-in-out;
    transition: opacity .1s ease-in-out, -webkit-filter .1s ease-in-out;
    transition: filter .1s ease-in-out, opacity .1s ease-in-out;
    transition: filter .1s ease-in-out, opacity .1s ease-in-out, -webkit-filter .1s ease-in-out;
    width: 100%; }
  .grid-item .inner {
    bottom: 0;
    display: none;
    height: auto;
    left: 0;
    margin: auto;
    overflow: auto;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
    width: 95%; }
  .grid-item:hover img {
    -webkit-filter: blur(5px);
            filter: blur(5px);
    opacity: .4; }
  .grid-item:hover p {
    color: #fff; }
  .grid-item:hover .inner {
    display: table; }

.info__title {
  font-size: 21.5px;
  font-weight: 800;
  letter-spacing: 2.6px;
  line-height: normal;
  text-transform: uppercase; }

.info__description {
  font-family: 'Merriweather';
  font-size: 15.5px;
  font-style: italic;
  letter-spacing: 2px;
  margin-bottom: 15px;
  text-transform: lowercase; }

.info__year {
  letter-spacing: 2.6px; }

.isotope,
.isotope .isotope-item {
  -webkit-transition-duration: .8s;
          transition-duration: .8s; }

.isotope {
  -webkit-transition-property: height, width;
  transition-property: height, width; }
  .isotope .isotope-item {
    -webkit-transition-property: opacity, -webkit-transform;
    transition-property: opacity, -webkit-transform;
    transition-property: transform, opacity;
    transition-property: transform, opacity, -webkit-transform; }

.about {
  padding-bottom: 137.5px;
  padding-top: 175px; }

.resume {
  background-color: #efdcff;
  max-width: 100%;
  padding-bottom: 167px;
  padding-top: 155px; }
  .resume-btn {
    border-color: #fff;
    color: #fff; }
    .resume-btn:first-child {
      margin-bottom: 27.5px; }
    .resume-btn,
    .resume-btn a {
      color: #fff;
      text-decoration: none; }

.contact {
  background-color: #814fab;
  padding-bottom: 70px;
  padding-top: 140px; }
  .contact .large-text {
    color: #fff;
    padding-right: 10px; }
  .contact .logo {
    margin-top: 205px;
    text-align: center; }
    .contact .logo img {
      width: 170px; }

.contact-button-group {
  display: inline-block;
  padding-left: 10px; }
  .contact-button-group img {
    margin-bottom: 43.5px;
    margin-right: 34.5px;
    vertical-align: middle;
    width: 60.5px; }

.portfolio-header {
  padding-bottom: 92px;
  padding-top: 50px; }
  .portfolio-header .more,
  .portfolio-header .more__description p {
    margin: 0;
    padding: 0; }

.portfolio .grid-item .info__description {
  font-size: 18px; }

.more {
  color: #4a4a4a;
  padding-bottom: 120px;
  padding-top: 50px;
  width: 80%; }
  .more__title {
    text-align: right; }
  .more__description {
    line-height: 1.5; }
    .more__description p {
      margin-bottom: 40px; }

.unum .button {
  border-color: #000;
  color: #000; }

.illustration .button {
  border-color: #f5a623;
  color: #f5a623; }

.brand-new-theatre .grid-item,
.fitster .grid-item {
  padding-bottom: 25%;
  width: 25%; }
  .brand-new-theatre .grid-item.big,
  .fitster .grid-item.big {
    padding-bottom: 50%;
    width: 50%; }

.brand-new-theatre .grid,
.fitster .grid {
  width: 80%; }

.mood-feed .grid-item {
  padding-bottom: 33%;
  width: 33%; }
  .mood-feed .grid-item.big {
    padding-bottom: 66%;
    width: 66%; }

.mood-feed .grid {
  width: 60%; }

.troy-camp .button {
  border-color: #71172f;
  color: #71172f; }

.venture-city .button {
  border-color: #c82052;
  color: #c82052; }

.venture-city .grid-item {
  padding-bottom: 33%;
  width: 33%; }
  .venture-city .grid-item.big {
    padding-bottom: 66%;
    width: 66%; }

.venture-city .grid {
  margin-left: 40%; }

.resume-portfolio {
  background-color: #814fab;
  padding-bottom: 62.5px; }
  .resume-portfolio .large-text {
    color: #fff; }
  .resume-portfolio .logo {
    padding-top: 240px;
    text-align: center; }
    .resume-portfolio .logo img {
      width: 170px; }

/*# sourceMappingURL=data:application/json;charset=utf8;base64,eyJ2ZXJzaW9uIjozLCJzb3VyY2VzIjpbIl9mb250cy5zY3NzIiwiX2Jhc2Uuc2NzcyIsIl9jb2xvcnMuc2NzcyIsIl9uYXZiYXIuc2NzcyIsIl9ncmlkLnNjc3MiLCJfaG9tZS5zY3NzIiwiX3BvcnRmb2xpby5zY3NzIl0sIm5hbWVzIjpbXSwibWFwcGluZ3MiOiJBQUFBO0VBQ0Usc0JBQXNCO0VBQ3RCLGlCQUFpQjtFQUNqQixzQ0FBUSxFQUFBOztBQUdWO0VBQ0Usc0JBQXNCO0VBQ3RCLGlCQUFpQjtFQUNqQiwwQ0FBUSxFQUFBOztBQUdWO0VBQ0UsNEJBQTRCO0VBQzVCLGlCQUFpQjtFQUNqQix5Q0FBUSxFQUFBOztBQUdWO0VBQ0UsNEJBQTRCO0VBQzVCLGlCQUFpQjtFQUNqQixtQkFBbUI7RUFDbkIsK0NBQVEsRUFBQTs7QUN0QlY7RUFDRSx1QkFBdUIsRUFDeEI7O0FBRUQ7RUFDRSxzQkFBc0IsRUFDdkI7O0FBR0Q7RUFDRSxrQkFBa0I7RUFDbEIsVUFBVSxFQUNYOztBQUVEO0VBQ0UsZ0JBQWdCO0VBQ2hCLGlCQUFpQjtFQUNqQixVQUFVLEVBQ1g7O0FBRUQ7RUFDRSwwQkFBMEI7RUFDMUIsZ0JBQWdCO0VBQ2hCLG1CQUFtQjtFQUNuQixpQkFBaUI7RUFDakIsb0JBQW9CLEVBQ3JCOztBQUVEO0VBQ0UsZUMzQlk7RUQ0Qlosa0JBQWtCO0VBQ2xCLGlCQUFpQjtFQUNqQixlQUFlO0VBQ2YsaUJBQWlCLEVBWWxCO0VBakJEO0lBUUksZUFBZTtJQUNmLGlCQUFpQixFQUNsQjtFQVZIOztJQWNJLGVBQWU7SUFDZiwyQkFBMkIsRUFDNUI7O0FBR0g7O0VBRUUsOEJBQThCO0VBQzlCLDBCQ3ZDYztFRHdDZCxlQ3hDYztFRHlDZCxzQkFBc0I7RUFDdEIsa0JBQWtCO0VBQ2xCLGlCQUFpQjtFQUNqQixvQkFBb0I7RUFDcEIsaUJBQWlCO0VBQ2pCLGlCQUFpQjtFQUNqQixnQkFBZ0I7RUFDaEIsbUJBQW1CO0VBQ25CLDBCQUEwQixFQUszQjtFQWxCRDs7SUFnQkksc0JBQXNCLEVBQ3ZCOztBQUdIO0VBQ0Usa0JBQWtCO0VBQ2xCLG9CQUFvQjtFQUNwQixrQkFBa0IsRUFDbkI7O0FFdkVEO0VBQ0U7SUFDRSxVQUFVO0lBQ1YsZUFBZTtJQUNmLFVBQVU7SUFDVixtQkFBbUI7SUFDbkIsYUFBYSxFQUNkO0VBRUQ7O0lBRUUsbUJBQW1CLEVBQ3BCLEVBQUE7O0FBR0g7RUFDRSx1QkROVTtFQ09WLHVCQUF1QjtFQUN2QixVQUFVO0VBQ1YsaUJBQWlCO0VBQ2pCLGlCQUFpQjtFQUNqQixxQkFBcUI7RUFDckIsa0JBQWtCLEVBZW5CO0VBdEJEO0lBVUksZ0JBQWdCO0lBQ2hCLHNCQUFzQixFQUN2QjtFQVpIO0lBZUksbUJBQW1CO0lBQ25CLDBCQUEwQixFQUMzQjtFQWpCSDtJQW9CSSxlQUFlLEVBQ2hCOztBQUdIO0VBQ0UsWUR4Q1UsRUN5Q1g7O0FDekNEO0VBQ0UsMEJGUWdCO0VFUGhCLFlBQVk7RUFDWixVQUFVO0VBQ1YsaUJBQWlCO0VBQ2pCLG9CQUFvQjtFQUNwQixtQkFBbUI7RUFDbkIsV0FBVyxFQXlDWjtFQWhERDtJQVVJLG9CQUFvQjtJQUNwQixXQUFXLEVBQ1o7RUFaSDtJQWVJLDRFQUNvQztJQURwQyxvRUFDb0M7SUFEcEMsNERBQ29DO0lBRHBDLDRGQUNvQztJQUNwQyxZQUFZLEVBQ2I7RUFsQkg7SUFxQkksVUFBVTtJQUNWLGNBQWM7SUFDZCxhQUFhO0lBQ2IsUUFBUTtJQUNSLGFBQWE7SUFDYixlQUFlO0lBQ2YsbUJBQW1CO0lBQ25CLFNBQVM7SUFDVCxtQkFBbUI7SUFDbkIsT0FBTztJQUNQLFdBQVcsRUFDWjtFQWhDSDtJQW9DTSwwQkFBWTtZQUFaLGtCQUFZO0lBQ1osWUFBWSxFQUNiO0VBdENMO0lBeUNNLFlGL0JNLEVFZ0NQO0VBMUNMO0lBNkNNLGVBQWUsRUFDaEI7O0FBS0w7RUFFSSxrQkFBa0I7RUFDbEIsaUJBQWlCO0VBQ2pCLHNCQUFzQjtFQUN0QixvQkFBb0I7RUFDcEIsMEJBQTBCLEVBQzNCOztBQVBIO0VBVUksNEJBQTRCO0VBQzVCLGtCQUFrQjtFQUNsQixtQkFBbUI7RUFDbkIsb0JBQW9CO0VBQ3BCLG9CQUFvQjtFQUNwQiwwQkFBMEIsRUFDM0I7O0FBaEJIO0VBbUJJLHNCQUFzQixFQUN2Qjs7QUFJSDs7RUFFRSxpQ0FBeUI7VUFBekIseUJBQXlCLEVBQzFCOztBQUVEO0VBQ0UsMkNBQW1DO0VBQW5DLG1DQUFtQyxFQUtwQztFQU5EO0lBSUksd0RBQXdDO0lBQXhDLGdEQUF3QztJQUF4Qyx3Q0FBd0M7SUFBeEMsMkRBQXdDLEVBQ3pDOztBQ3JGSDtFQUNFLHdCQUF3QjtFQUN4QixtQkFBbUIsRUFDcEI7O0FBRUQ7RUFDRSwwQkhGc0I7RUdHdEIsZ0JBQWdCO0VBQ2hCLHNCQUFzQjtFQUN0QixtQkFBbUIsRUFnQnBCO0VBcEJEO0lBT0ksbUJIRlE7SUdHUixZSEhRLEVHY1Q7SUFuQkg7TUFXTSxzQkFBc0IsRUFDdkI7SUFaTDs7TUFnQk0sWUhYTTtNR1lOLHNCQUFzQixFQUN2Qjs7QUFJTDtFQUNFLDBCSG5CZ0I7RUdvQmhCLHFCQUFxQjtFQUNyQixtQkFBbUIsRUFlcEI7RUFsQkQ7SUFNSSxZSHZCUTtJR3dCUixvQkFBb0IsRUFDckI7RUFSSDtJQVdJLGtCQUFrQjtJQUNsQixtQkFBbUIsRUFLcEI7SUFqQkg7TUFlTSxhQUFhLEVBQ2Q7O0FBSUw7RUFDRSxzQkFBc0I7RUFDdEIsbUJBQW1CLEVBUXBCO0VBVkQ7SUFLSSxzQkFBc0I7SUFDdEIscUJBQXFCO0lBQ3JCLHVCQUF1QjtJQUN2QixjQUFjLEVBQ2Y7O0FDekJIO0VBQ0UscUJBQXFCO0VBQ3JCLGtCQUFrQixFQU9uQjtFQVREOztJQU1JLFVBQVU7SUFDVixXQUFXLEVBQ1o7O0FBR0g7RUFDRSxnQkFBZ0IsRUFDakI7O0FBRUQ7RUFDRSxlSjdDWTtFSThDWixzQkFBc0I7RUFDdEIsa0JBQWtCO0VBQ2xCLFdBQVcsRUFhWjtFQWpCRDtJQU9JLGtCQUFrQixFQUNuQjtFQVJIO0lBV0ksaUJBQWlCLEVBS2xCO0lBaEJIO01BY00sb0JBQW9CLEVBQ3JCOztBQTVESDtFQUNFLG1CSkZRO0VJR1IsWUpIUSxFSUlUOztBQUhEO0VBQ0Usc0JKTVk7RUlMWixlSktZLEVJSmI7O0FBSUQ7O0VBQ0Usb0JBQW9CO0VBQ3BCLFdBQVcsRUFNWjtFQVJEOztJQUtJLG9CQUFvQjtJQUNwQixXQUFXLEVBQ1o7O0FBMERMOztFQUlJLFdBQVcsRUFDWjs7QUExREQ7RUFDRSxvQkFBb0I7RUFDcEIsV0FBVyxFQU1aO0VBUkQ7SUFLSSxvQkFBb0I7SUFDcEIsV0FBVyxFQUNaOztBQXNETDtFQUdJLFdBQVcsRUFDWjs7QUFwRkQ7RUFDRSxzQkpHWTtFSUZaLGVKRVksRUlEYjs7QUFIRDtFQUNFLHNCSkRhO0VJRWIsZUpGYSxFSUdkOztBQWdCRDtFQUNFLG9CQUFvQjtFQUNwQixXQUFXLEVBTVo7RUFSRDtJQUtJLG9CQUFvQjtJQUNwQixXQUFXLEVBQ1o7O0FBaUVMO0VBSUksaUJBQWlCLEVBQ2xCOztBQUdIO0VBQ0UsMEJKNUZnQjtFSTZGaEIsdUJBQXVCLEVBY3hCO0VBaEJEO0lBS0ksWUovRlEsRUlnR1Q7RUFOSDtJQVNJLG1CQUFtQjtJQUNuQixtQkFBbUIsRUFLcEI7SUFmSDtNQWFNLGFBQWEsRUFDZCIsImZpbGUiOiJzdHlsZS5jc3MiLCJzb3VyY2VzQ29udGVudCI6WyJAZm9udC1mYWNlIHtcbiAgZm9udC1mYW1pbHk6ICdHaWxyb3knO1xuICBmb250LXdlaWdodDogMjAwO1xuICBzcmM6IHVybCgnLi4vZm9udHMvR2lscm95LUxpZ2h0Lm90ZicpO1xufVxuXG5AZm9udC1mYWNlIHtcbiAgZm9udC1mYW1pbHk6ICdHaWxyb3knO1xuICBmb250LXdlaWdodDogODAwO1xuICBzcmM6IHVybCgnLi4vZm9udHMvR2lscm95LUV4dHJhQm9sZC5vdGYnKTtcbn1cblxuQGZvbnQtZmFjZSB7XG4gIGZvbnQtZmFtaWx5OiAnTWVycml3ZWF0aGVyJztcbiAgZm9udC13ZWlnaHQ6IDMwMDtcbiAgc3JjOiB1cmwoJy4uL2ZvbnRzL01lcnJpd2VhdGhlcjMwMC50dGYnKTtcbn1cblxuQGZvbnQtZmFjZSB7XG4gIGZvbnQtZmFtaWx5OiAnTWVycml3ZWF0aGVyJztcbiAgZm9udC13ZWlnaHQ6IDMwMDtcbiAgZm9udC1zdHlsZTogaXRhbGljO1xuICBzcmM6IHVybCgnLi4vZm9udHMvTWVycml3ZWF0aGVyMzAwaXRhbGljLnR0ZicpO1xufVxuIiwiKiB7XG4gIGJveC1zaXppbmc6IGJvcmRlci1ib3g7XG59XG5cbmJvZHkge1xuICBmb250LWZhbWlseTogJ0dpbHJveSc7XG59XG5cbi8vIFRleHRcbmgxIHtcbiAgZm9udC1zaXplOiA2MC41cHg7XG4gIG1hcmdpbjogMDtcbn1cblxuaDIge1xuICBmb250LXNpemU6IDM2cHg7XG4gIGZvbnQtd2VpZ2h0OiA4MDA7XG4gIG1hcmdpbjogMDtcbn1cblxuaDMge1xuICBmb250LWZhbWlseTogTWVycml3ZWF0aGVyO1xuICBmb250LXNpemU6IDE4cHg7XG4gIGZvbnQtc3R5bGU6IGl0YWxpYztcbiAgZm9udC13ZWlnaHQ6IDMwMDtcbiAgbGV0dGVyLXNwYWNpbmc6IDJweDtcbn1cblxucCB7XG4gIGNvbG9yOiAkZ3JleTtcbiAgZm9udC1zaXplOiAxNy41cHg7XG4gIGZvbnQtd2VpZ2h0OiAzMDA7XG4gIGxpbmUtaGVpZ2h0OiAyO1xuICBtYXJnaW4tYm90dG9tOiAwO1xuXG4gIGEge1xuICAgIGNvbG9yOiBpbmhlcml0O1xuICAgIGZvbnQtd2VpZ2h0OiA4MDA7XG4gIH1cblxuICBhOmZvY3VzLFxuICBhOmhvdmVyIHtcbiAgICBjb2xvcjogaW5oZXJpdDtcbiAgICB0ZXh0LWRlY29yYXRpb246IHVuZGVybGluZTtcbiAgfVxufVxuXG5idXR0b24sXG4uYnV0dG9uIHtcbiAgYmFja2dyb3VuZC1jb2xvcjogdHJhbnNwYXJlbnQ7XG4gIGJvcmRlcjogc29saWQgNXB4ICR5ZWxsb3c7XG4gIGNvbG9yOiAkeWVsbG93O1xuICBkaXNwbGF5OiBpbmxpbmUtYmxvY2s7XG4gIGZvbnQtc2l6ZTogMTcuNXB4O1xuICBmb250LXdlaWdodDogODAwO1xuICBsZXR0ZXItc3BhY2luZzogMXB4O1xuICBtYXgtd2lkdGg6IDI5NXB4O1xuICBtaW4td2lkdGg6IDI1MHB4O1xuICBwYWRkaW5nOiAyM3B4IDA7XG4gIHRleHQtYWxpZ246IGNlbnRlcjtcbiAgdGV4dC10cmFuc2Zvcm06IHVwcGVyY2FzZTtcbiAgXG4gICY6aG92ZXIge1xuICAgIHRleHQtZGVjb3JhdGlvbjogbm9uZTtcbiAgfVxufVxuXG4ubGFyZ2UtdGV4dCB7XG4gIGZvbnQtc2l6ZTogNjAuNXB4O1xuICBsaW5lLWhlaWdodDogbm9ybWFsO1xuICB0ZXh0LWFsaWduOiByaWdodDtcbn1cbiIsIiRibGFjazogIzAwMDtcbiRmdXNjaGlhOiAjYzgyMDUyO1xuJGdyZXk6ICM0YTRhNGE7XG4kbGlnaHQtZ3JleTogIzliOWI5YjtcbiRsaWdodC1wdXJwbGlzaDogI2VmZGNmZjtcbiRtYXJvb246ICM3MTE3MmY7XG4kbXVzdGFyZDogI2ZhYmEwMDtcbiRvZmYtd2hpdGU6ICNkOGY0ZDU7XG4kb3JhbmdlOiAjZjVhNjIzO1xuJHB1cnBsaXNoOiAjODE0ZmFiO1xuJHdoaXRlOiAjZmZmO1xuJHllbGxvdzogI2NmYmEyZTtcbiIsIkBtZWRpYSBzY3JlZW4gYW5kIChtaW4td2lkdGg6NzY4cHgpe1xuICAubmF2YmFyLWJyYW5kLWNlbnRlcmVkIHtcbiAgICBib3JkZXI6IDA7XG4gICAgZGlzcGxheTogYmxvY2s7XG4gICAgbGVmdDogNTAlO1xuICAgIHBvc2l0aW9uOiBhYnNvbHV0ZTtcbiAgICB3aWR0aDogMTIwcHg7XG4gIH1cblxuICAubmF2YmFyPi5jb250YWluZXIgLm5hdmJhci1icmFuZC1jZW50ZXJlZCxcbiAgLm5hdmJhcj4uY29udGFpbmVyLWZsdWlkIC5uYXZiYXItYnJhbmQtY2VudGVyZWQge1xuICAgIG1hcmdpbi1sZWZ0OiAtODBweDtcbiAgfVxufVxuXG4ubmF2YmFyIHtcbiAgYmFja2dyb3VuZC1jb2xvcjogJHdoaXRlO1xuICBiYWNrZ3JvdW5kLWltYWdlOiBub25lO1xuICBib3JkZXI6IDA7XG4gIGJveC1zaGFkb3c6IG5vbmU7XG4gIG1hcmdpbi1ib3R0b206IDA7XG4gIHBhZGRpbmctYm90dG9tOiA2MHB4O1xuICBwYWRkaW5nLXRvcDogNTVweDtcblxuICBhIHtcbiAgICBmb250LXNpemU6IDEycHg7XG4gICAgbGV0dGVyLXNwYWNpbmc6IDEuNXB4O1xuICB9XG5cbiAgbGkge1xuICAgIG1hcmdpbi1yaWdodDogNTBweDtcbiAgICB0ZXh0LXRyYW5zZm9ybTogdXBwZXJjYXNlO1xuICB9XG5cbiAgaW1nIHtcbiAgICBoZWlnaHQ6IDMxLjdweDtcbiAgfVxufVxuXG4ubmF2YmFyLWRlZmF1bHQgLm5hdmJhci1uYXYgPiBsaSA+IGEge1xuICBjb2xvcjogJGJsYWNrO1xufVxuIiwiLmdyaWQtaXRlbSB7XG4gIGJhY2tncm91bmQtY29sb3I6ICRwdXJwbGlzaDtcbiAgZmxvYXQ6IGxlZnQ7XG4gIGhlaWdodDogMDtcbiAgb3ZlcmZsb3c6IGhpZGRlbjtcbiAgcGFkZGluZy1ib3R0b206IDIwJTtcbiAgdGV4dC1hbGlnbjogY2VudGVyO1xuICB3aWR0aDogMjAlO1xuXG4gICYuYmlnIHtcbiAgICBwYWRkaW5nLWJvdHRvbTogNDAlO1xuICAgIHdpZHRoOiA0MCU7XG4gIH1cblxuICBpbWcge1xuICAgIHRyYW5zaXRpb246IGZpbHRlciAuMXMgZWFzZS1pbi1vdXQsXG4gICAgICAgICAgICAgICAgb3BhY2l0eSAuMXMgZWFzZS1pbi1vdXQ7XG4gICAgd2lkdGg6IDEwMCU7XG4gIH1cblxuICAuaW5uZXIge1xuICAgIGJvdHRvbTogMDtcbiAgICBkaXNwbGF5OiBub25lO1xuICAgIGhlaWdodDogYXV0bztcbiAgICBsZWZ0OiAwO1xuICAgIG1hcmdpbjogYXV0bztcbiAgICBvdmVyZmxvdzogYXV0bztcbiAgICBwb3NpdGlvbjogYWJzb2x1dGU7XG4gICAgcmlnaHQ6IDA7XG4gICAgdGV4dC1hbGlnbjogY2VudGVyO1xuICAgIHRvcDogMDtcbiAgICB3aWR0aDogOTUlO1xuICB9XG5cbiAgJjpob3ZlciB7XG4gICAgaW1nIHtcbiAgICAgIGZpbHRlcjogYmx1cig1cHgpO1xuICAgICAgb3BhY2l0eTogLjQ7XG4gICAgfVxuXG4gICAgcCB7XG4gICAgICBjb2xvcjogJHdoaXRlO1xuICAgIH1cblxuICAgIC5pbm5lciB7XG4gICAgICBkaXNwbGF5OiB0YWJsZTtcbiAgICB9XG4gIH1cbn1cblxuLy8gR3JpZCBpdGVtIGRldGFpbHNcbi5pbmZvIHtcbiAgJl9fdGl0bGUge1xuICAgIGZvbnQtc2l6ZTogMjEuNXB4O1xuICAgIGZvbnQtd2VpZ2h0OiA4MDA7XG4gICAgbGV0dGVyLXNwYWNpbmc6IDIuNnB4O1xuICAgIGxpbmUtaGVpZ2h0OiBub3JtYWw7XG4gICAgdGV4dC10cmFuc2Zvcm06IHVwcGVyY2FzZTtcbiAgfVxuXG4gICZfX2Rlc2NyaXB0aW9uIHtcbiAgICBmb250LWZhbWlseTogJ01lcnJpd2VhdGhlcic7XG4gICAgZm9udC1zaXplOiAxNS41cHg7XG4gICAgZm9udC1zdHlsZTogaXRhbGljO1xuICAgIGxldHRlci1zcGFjaW5nOiAycHg7XG4gICAgbWFyZ2luLWJvdHRvbTogMTVweDtcbiAgICB0ZXh0LXRyYW5zZm9ybTogbG93ZXJjYXNlO1xuICB9XG5cbiAgJl9feWVhciB7XG4gICAgbGV0dGVyLXNwYWNpbmc6IDIuNnB4O1xuICB9XG59XG5cbi8vIEdyaWQgSXRlbSBhbmltYXRlXG4uaXNvdG9wZSxcbi5pc290b3BlIC5pc290b3BlLWl0ZW0ge1xuICB0cmFuc2l0aW9uLWR1cmF0aW9uOiAuOHM7XG59XG5cbi5pc290b3BlIHtcbiAgdHJhbnNpdGlvbi1wcm9wZXJ0eTogaGVpZ2h0LCB3aWR0aDtcblxuICAuaXNvdG9wZS1pdGVtIHtcbiAgICB0cmFuc2l0aW9uLXByb3BlcnR5OiB0cmFuc2Zvcm0sIG9wYWNpdHk7XG4gIH1cbn1cbiIsIi5hYm91dCB7XG4gIHBhZGRpbmctYm90dG9tOiAxMzcuNXB4O1xuICBwYWRkaW5nLXRvcDogMTc1cHg7XG59XG5cbi5yZXN1bWUge1xuICBiYWNrZ3JvdW5kLWNvbG9yOiAkbGlnaHQtcHVycGxpc2g7XG4gIG1heC13aWR0aDogMTAwJTtcbiAgcGFkZGluZy1ib3R0b206IDE2N3B4O1xuICBwYWRkaW5nLXRvcDogMTU1cHg7XG5cbiAgJi1idG4ge1xuICAgIGJvcmRlci1jb2xvcjogJHdoaXRlO1xuICAgIGNvbG9yOiAkd2hpdGU7XG5cbiAgICAmOmZpcnN0LWNoaWxkIHtcbiAgICAgIG1hcmdpbi1ib3R0b206IDI3LjVweDtcbiAgICB9XG5cbiAgICAmLFxuICAgICYgYSB7XG4gICAgICBjb2xvcjogJHdoaXRlO1xuICAgICAgdGV4dC1kZWNvcmF0aW9uOiBub25lO1xuICAgIH1cbiAgfVxufVxuXG4uY29udGFjdCB7XG4gIGJhY2tncm91bmQtY29sb3I6ICRwdXJwbGlzaDtcbiAgcGFkZGluZy1ib3R0b206IDcwcHg7XG4gIHBhZGRpbmctdG9wOiAxNDBweDtcblxuICAubGFyZ2UtdGV4dCB7XG4gICAgY29sb3I6ICR3aGl0ZTtcbiAgICBwYWRkaW5nLXJpZ2h0OiAxMHB4O1xuICB9XG5cbiAgLmxvZ28ge1xuICAgIG1hcmdpbi10b3A6IDIwNXB4O1xuICAgIHRleHQtYWxpZ246IGNlbnRlcjtcblxuICAgIGltZyB7XG4gICAgICB3aWR0aDogMTcwcHg7XG4gICAgfVxuICB9XG59XG5cbi5jb250YWN0LWJ1dHRvbi1ncm91cCB7XG4gIGRpc3BsYXk6IGlubGluZS1ibG9jaztcbiAgcGFkZGluZy1sZWZ0OiAxMHB4O1xuXG4gIGltZyB7XG4gICAgbWFyZ2luLWJvdHRvbTogNDMuNXB4O1xuICAgIG1hcmdpbi1yaWdodDogMzQuNXB4O1xuICAgIHZlcnRpY2FsLWFsaWduOiBtaWRkbGU7XG4gICAgd2lkdGg6IDYwLjVweDtcbiAgfVxufVxuIiwiQG1peGluIGJ1dHRvbigkY29sb3IpIHtcbiAgLmJ1dHRvbiB7XG4gICAgYm9yZGVyLWNvbG9yOiAkY29sb3I7XG4gICAgY29sb3I6ICRjb2xvcjtcbiAgfVxufVxuXG5AbWl4aW4gcXVhcnRlci1ncmlkLWl0ZW1zIHtcbiAgLmdyaWQtaXRlbSB7XG4gICAgcGFkZGluZy1ib3R0b206IDI1JTtcbiAgICB3aWR0aDogMjUlO1xuXG4gICAgJi5iaWcge1xuICAgICAgcGFkZGluZy1ib3R0b206IDUwJTtcbiAgICAgIHdpZHRoOiA1MCU7XG4gICAgfVxuICB9XG59XG5cbkBtaXhpbiB0aGlyZC1ncmlkLWl0ZW1zIHtcbiAgLmdyaWQtaXRlbSB7XG4gICAgcGFkZGluZy1ib3R0b206IDMzJTtcbiAgICB3aWR0aDogMzMlO1xuXG4gICAgJi5iaWcge1xuICAgICAgcGFkZGluZy1ib3R0b206IDY2JTtcbiAgICAgIHdpZHRoOiA2NiU7XG4gICAgfVxuICB9XG59XG5cbi5wb3J0Zm9saW8taGVhZGVyIHtcbiAgcGFkZGluZy1ib3R0b206IDkycHg7XG4gIHBhZGRpbmctdG9wOiA1MHB4O1xuXG4gIC5tb3JlLFxuICAubW9yZV9fZGVzY3JpcHRpb24gcCB7XG4gICAgbWFyZ2luOiAwO1xuICAgIHBhZGRpbmc6IDA7XG4gIH1cbn1cblxuLnBvcnRmb2xpbyAuZ3JpZC1pdGVtIC5pbmZvX19kZXNjcmlwdGlvbiB7XG4gIGZvbnQtc2l6ZTogMThweDtcbn1cblxuLm1vcmUge1xuICBjb2xvcjogJGdyZXk7XG4gIHBhZGRpbmctYm90dG9tOiAxMjBweDtcbiAgcGFkZGluZy10b3A6IDUwcHg7XG4gIHdpZHRoOiA4MCU7XG5cbiAgJl9fdGl0bGUge1xuICAgIHRleHQtYWxpZ246IHJpZ2h0O1xuICB9XG5cbiAgJl9fZGVzY3JpcHRpb24ge1xuICAgIGxpbmUtaGVpZ2h0OiAxLjU7XG5cbiAgICBwIHtcbiAgICAgIG1hcmdpbi1ib3R0b206IDQwcHg7XG4gICAgfVxuICB9XG59XG5cbi51bnVtIHtcbiAgQGluY2x1ZGUgYnV0dG9uKCRibGFjayk7XG59XG5cbi5pbGx1c3RyYXRpb24ge1xuICBAaW5jbHVkZSBidXR0b24oJG9yYW5nZSk7XG59XG5cbi5icmFuZC1uZXctdGhlYXRyZSxcbi5maXRzdGVyIHtcbiAgQGluY2x1ZGUgcXVhcnRlci1ncmlkLWl0ZW1zO1xuICAuZ3JpZCB7XG4gICAgd2lkdGg6IDgwJTtcbiAgfVxufVxuXG4ubW9vZC1mZWVkIHtcbiAgQGluY2x1ZGUgdGhpcmQtZ3JpZC1pdGVtcztcbiAgLmdyaWQge1xuICAgIHdpZHRoOiA2MCU7XG4gIH1cbn1cblxuLnRyb3ktY2FtcCB7XG4gIEBpbmNsdWRlIGJ1dHRvbigkbWFyb29uKTtcbn1cblxuLnZlbnR1cmUtY2l0eSB7XG4gIEBpbmNsdWRlIGJ1dHRvbigkZnVzY2hpYSk7XG4gIEBpbmNsdWRlIHRoaXJkLWdyaWQtaXRlbXM7XG4gIC5ncmlkIHtcbiAgICBtYXJnaW4tbGVmdDogNDAlO1xuICB9XG59XG5cbi5yZXN1bWUtcG9ydGZvbGlvIHtcbiAgYmFja2dyb3VuZC1jb2xvcjogJHB1cnBsaXNoO1xuICBwYWRkaW5nLWJvdHRvbTogNjIuNXB4O1xuXG4gIC5sYXJnZS10ZXh0IHtcbiAgICBjb2xvcjogJHdoaXRlO1xuICB9XG5cbiAgLmxvZ28ge1xuICAgIHBhZGRpbmctdG9wOiAyNDBweDtcbiAgICB0ZXh0LWFsaWduOiBjZW50ZXI7XG5cbiAgICBpbWcge1xuICAgICAgd2lkdGg6IDE3MHB4O1xuICAgIH1cbiAgfVxufVxuIl19 */
